.main-logo {
    &.text-logo {
        font-size: 52px;
        font-weight: 400;
    }  	
    img {
        width: 100%;
    }
}

.mid-inline, .mid-stack {
    .text-logo {
        text-align: center;
    }
}

.site-header {	
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    margin-bottom: 60px;
    &.fixed {

    }
}

.admin-bar {
    .site-header.fixed {
        top: 32px;
    }
}

.flex-section {
    display: flex;
}

.equal-section {
    flex: 1 1 0;
}

.flex-end {
    justify-content: flex-end;
    nav {
        li:last-of-type {
            a {
                padding-right: 0;
            }
        }
    }
}

.nb-navbar, .nb-header-sub-menu {
    ul {
        padding-left: 0;
        list-style-type: none;
    }
}

.stuck {
    @extend .animated;
    @extend .fadeInDown;
    position:fixed;
    top:0;
    &.bot-section-wrap, &.middle-section-wrap {
        transition: all .2s ease;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        width: 100%;
        background: #fff;
        z-index: 9999;
    }
}

.admin-bar .stuck {
    top: 32px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}