.icon-header-section {
  &:before {
    bottom: -2px;
    z-index: 10;
    opacity: 0;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.icon-header-section {
  align-self: center;
}

.icon-header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //text-align: right;
  padding-left: 15px;
  .nb-account-dropdown {
    display: none;
    position: absolute;
    left: -50px;
    top: 45px;
    z-index: 9;
    width: 250px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px;
    box-shadow: 3px 3px 10px -2px #5c5c5c;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li:not(:last-of-type) {
        a {
          border-bottom: 1px solid;
        }
      }
    }
    a {
      display: block;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: uppercase;
    }
  }
  .header-cart-wrap {
    display: inline-block;
    position: relative;
    z-index: 100;
  }
  .header-account-wrap, .header-cart-wrap {
    margin-right: 5px;
  }
  i {
    font-size: 16px;
  }
  .nb-cart-section {
    display: inline-block;
    margin-top: -5px;
    &:before {
      font-size: 18px;
    }
  }
}

// .header-account-wrap {
//   .nb-account-dropdown {
//     opacity: 0;
//     visibility: hidden;
//   }
//   &:hover {
//     .nb-account-dropdown {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
// }

.mini-cart-section {
  //opacity: 0;
  //visibility: hidden;
  display: none;
  z-index: 9 !important;
  //transition: all .2s ease;
}

.mini-cart-wrap {
  position: absolute;
  background: #fff;
  top: 45px;
  left: -75px;
  width: 320px;
  box-shadow: 3px 3px 10px -2px rgba(92,92,92,1);
  padding: 15px;
  border-radius: 2px;
  transition: all .2s ease;
  z-index: 9 !important;
  //&.show {
  //  display: block;
  //}
  .cart_list {
    float: left;
    padding-left: 0;
    list-style-type: none;
  }
  .mini_cart_item {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    .mini-cart-pd-image {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 15px;
      float: left;
    }
    .minicart-pd-meta {
      display: inline-block;
      float: left;
      > a {
        display: block;
      }
      .quantity {
        display: inline-block;
        float: left;
      }
    }
    .remove {
      position: absolute;
      top: 12px;
      right: 15px;
      color: #ccc;
    }
  }
  .total {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buttons {
    .button {
      display: inline-block;
      height: 50px;
      line-height: 45px;
      padding-left: 30px;
      padding-right: 30px;
      float: left;
      &.checkout {
        float: right;
      }
    }
  }
}

