.site-header.left-inline {
  .middle-section {
    display: flex;
  }
  .main-nav-wrap {
    display: flex;
    flex: 1 1 0;
  }
  .main-navigation {
    flex: 0 0 86%;
    max-width: 86%;
    align-self: center
  }
  .icon-header-section {
   flex: 0 0 14%;
   max-width: 14%;
   padding-top: 15px;
   padding-bottom: 15px;
  }
  .nb-header-sub-menu > li:last-child > a {
    padding-right: 0;
  }
}