.site-header.left-stack {
  .middle-section, .bot-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .middle-section-wrap {
    border-bottom: 1px solid #eee;
  }
  .icon-header-wrap .header-account-wrap {
    margin-right: 20px;
  }
  .nb-header-sub-menu > li:last-child > a {
    padding-right: 0;
  }
}