.left-stack-2 {
  .middle-section-wrap {
    border-bottom: 1px solid #eee;
  }
  .middle-section {
    display: flex;
    align-items: center;
  }
  .main-nav-wrap {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    .sub-navigation {
      padding-right: 30px;
    }
    .icon-header-wrap {
      padding-left: 30px;
    }
  }
}