.site-header.mid-stack-2 {
    .middle-section-wrap{
        border-bottom: 1px solid #eee;
    }
    .middle-section {
        display: flex;
        align-items: center;
    }
    .header-account-wrap, .header-cart-wrap {
        margin-right: 20px;
    }
    .main-nav-wrap {
        nav {
            display: flex;
            justify-content: center;
            width: 100%;
        }    
    }
    // .main-logo {
    //   display: flex;
    //   justify-content: center;
    //   img {
    //     display: block;
    //   }
    // }
    // .main-navigation {
    //  flex: 0 0 88%;
    //  max-width: 88%;
    // }
    // .icon-header-section {
    //   flex: 0 0 12%;
    //   max-width: 12%;
    //   padding-top: 15px;
    //   padding-bottom: 15px;
    // }
    // .icon-header-wrap {
    //   border-left: 1px solid;
    // }
    .nb-navbar {
        justify-content: center;
        > .menu-item {
            margin-right: 5px;
            > a {
                display: block;
                padding: 8px 15px;
            }
        }
        .menu-item-has-children > a span:after {
            top: 1px;
        }
        .sub-menu {
            top: 70px;
        }
    }
}