.site-header.mid-inline {
	.nb-header-sub-menu {
		text-transform: uppercase;
	}
	.icon-header-wrap .header-account-wrap, .icon-header-wrap .header-cart-wrap {
		margin-right: 20px;
	}
	.middle-section {
		display: flex;
		align-items: center;
	}
	.main-logo {
		margin-right: 30px;
		margin-left: 30px;
	}
	.nb-header-sub-menu > li:first-child > a {
		padding-left: 0;
	}
}