.woocommerce-cart {
  #primary {
    width: 100%;
  }
}

.shop_table {
  &.cart {
    .cart_item {
      .amount {
        font-size: 1.2em;
      }
      td {
        padding-right: 15px;
      }
    }
    .to-shop {
      float: left;
    }
  }
  th, td {
    text-align: left;
  }
  thead {
    th {
      border-bottom: 2px solid;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
  }
  td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  th, td {
    border-bottom: 1px solid;
  }
  .cart_item {
    td {
      a {
        color: #323232
      }
      &.product-remove {
        @include media-breakpoint-up(lg) {
          opacity: 0;
          width: 1%;
          transition: opacity .2s ease;
        }
      }
    }
    &:hover {
      @include media-breakpoint-up(lg) {
        > td.product-remove {
          opacity: 1;
        }
      }
    }
  }
  .actions {
    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
  &.cart {
    @include media-breakpoint-down(sm) {
      thead, tbody, th, td, tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr, .product-thumbnail {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
      }
      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 32%;
        left: 15px;
        white-space: nowrap;
      }
      .product-name {
        padding-left: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .product-remove {
        padding-left: 15px;
      }
      .product-price:before {
        content: 'Price'
      }
      .product-quantity:before {
        content: 'Quantity'
      }
      .product-subtotal:before {
        content: 'Total'
      }

      .actions {
        padding-left: 15px;
      }
    }
  }
}

.cart-layout-1 {
  .product-thumbnail {
    max-width: 180px;
    width: 180px;
  }
  .cart-totals-wrap {
    .shop_table {
      font-size: 1.4em;
      th, td {
        text-align: right;
        border: 0;
        font-weight: 400;
      }
      td {
        width: 1%;
        white-space: nowrap;
        padding: 0 0 0 45px;
      }
      .order-total strong {
        font-weight: 400;
        font-size: 1.5em;
      }
    }
  }
  .coupon {
    text-align: right;
  }
}
.cart-layout-2 {
  .product-thumbnail {
    max-width: 120px;
    width: 120px;
  }
  .cart-right-section {
    .cart_totals {
      h3 {
        margin-top: 0;
        margin-bottom: 15px;
        line-height: 1;
      }
    }
    td {
      text-align: right;
    }
  }
  .wc-proceed-to-checkout {
    .checkout-button {
      text-align: center;
    }
  }
  .cart-totals-wrap {
    padding: 15px 15px 30px;
  }
  .coupon {
    h3 {
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  .coupon-wrap {
    border: 2px solid #edf0f5;
    padding: 15px 15px 30px;
    .input-text {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.coupon {
  margin-bottom: 60px;
  input[name="coupon_code"] {
    border-color: transparent;
    border-bottom-color: #ccc;
    margin-right: 15px;
    font-size: 16px;
    &:focus {
      outline: 0;
    }
  }
}

.cart-collaterals {
  .cart_totals {
    > h3 {
      text-align: right;
      margin-bottom: 15px;
    }
  }
}

.wc-proceed-to-checkout {
  text-align: right;
}

.cross-sells {
  .products {
    margin-left: -15px;
    margin-right: -15px;
  }
  .product {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }
  @include media-breakpoint-up(md) {
    &.row-3-products {
      .product {
        width: 33.33333%;
      }
    }
    &.row-4-products {
      .product {
        width: 25%;
      }
    }
    &.row-5-products {
      .product {
        width: 20%;
      }
    }
  }
  .flickity-prev-next-button {
    height: 100%;
    border-radius: 0;
    transition: opacity .2s ease;
    @include media-breakpoint-down(sm) {
      background: transparent;
    }
  }
  &:hover {
    @include media-breakpoint-up(md) {
      .flickity-prev-next-button {
        opacity: .8;
      }
      .flickity-prev-next-button:disabled {
        opacity: .2;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .hiding-nav-ui {
      .flickity-prev-next-button {
        display: none;
      }
    }
  }
}

.cart-left-section {
  @include media-breakpoint-down(md) {
    margin-bottom: 45px;
  }
}

.cart-right-section .cart_totals {
  margin-bottom: 45px;
}

.coupon input[name="coupon_code"] {
  @include media-breakpoint-down(xs) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}