.woocommerce, .woocommerce-page {
  .woocommerce-message, .woocommerce-error, .woocommerce-info {
    width: 100%;
    position: relative;
    list-style-type: none;
    padding: 15px 15px 15px 40px;
    margin-bottom: 45px;
    &:before {
      font-family: "fontello";
      font-size: 18px;
      position: absolute;
      left: 15px;
      top: 12px;
    }
  }
  .woocommerce-message {
    border-top: 3px solid #66BB6A;
    &:before {
      content: '\e80f';
      color: #66BB6A
    }
  }
  .woocommerce-error {
    border-top: 3px solid #ef5350;
    &:before {
      content: '\e80e';
      color: #ef5350
    }
  }
  .woocommerce-info {
    border-top: 3px solid #42A5F5;
    &:before {
      content: '\f086';
      color: #42A5F5
    }
  }
}