.single-product-wrap {
  display: flex;
  flex-wrap: wrap;
  .product-image {
    width: 100%
  }
  .woocommerce-product-gallery__wrapper {
    margin-top: 0;
    .woocommerce-product-gallery__image {
      width: 100%;
    }
    .featured-gallery {
      margin-bottom: 10px;
      .previous, .next {
        background: transparent;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
      }
      &:hover {
        .previous, .next {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .price {
    del {
      font-size: 1.5em;
      .amount {
        opacity: .5;
        margin-right: 10px;
      }
    }
    ins, & > span.amount {
      font-size: 2em;
    }
  }
  .entry-summary {
    .entry-title {
      font-size: 30px;
      margin-top: 0;
    }
  }
  .woocommerce-product-rating {
    display: inline-block;
    width: 100%;
  }
  .star-rating {
    font-size: 18px;
    width: 85px;
    display: inline-block;
    float: left;
  }
  .woocommerce-review-link {
    display: inline-block;
    float: left;
    line-height: 1.3;
  }
  .woocommerce-product-details__short-description, .cart, .product_meta {
    margin-bottom: 30px;
  }
  .cart {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.shop-main {
  &.bottom-thumb {
    .thumb-gallery {
      .woocommerce-product-gallery__image {
        width: 25%;
        margin-right: 10px;
      }
    }
  }
  &.left-thumb {
    .woocommerce-product-gallery__wrapper {
      display: flex;
      flex-wrap: wrap;
      .featured-gallery {
        flex-basis: 80%;
        max-width: 80%;
        order: 2;
      }
      .thumb-gallery {
        flex-basis: 20%;
        max-width: 20%;
        padding-right: 10px;
        .flickity-slider, .flickity-viewport {
          transform: none !important;
          overflow: visible !important;
          height: auto !important;
        }
        .flickity-viewport {
          cursor: default;
        }
        .woocommerce-product-gallery__image {
          margin-bottom: 10px;
          position: relative !important;
          left: 0 !important;
          max-width: 100% !important;
          min-height: 0 !important;
          margin-left: 1px;
          width: 100% !important;
          right: 0 !important;
        }
      }
    }
  }
  &.inside-thumb {
    .woocommerce-product-gallery__wrapper {
      position: relative;
    }
    .thumb-gallery {
      width: 20%;
      height: 100%;
      position: absolute;
      top: 10px;
      left: 10px;
      .flickity-slider, .flickity-viewport {
        transform: none !important;
        overflow: visible !important;
        height: auto !important;
      }
      .flickity-viewport {
        cursor: default;
      }
      .woocommerce-product-gallery__image {
        margin-bottom: 10px;
        position: relative !important;
        left: 0 !important;
        max-width: 100% !important;
        min-height: 0 !important;
        margin-left: 1px;
        width: 100% !important;
        right: 0 !important;
      }
    }
  }
  &.right-dots {
    .flickity-page-dots {
      top: 44%;
      right: 10px;
      display: inline-block;
      left: auto;
      width: 20px;
    }
  }
  .related {
    .product {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &.related-2-columns {
      .related {
        .products {
          margin-left: -15px;
          margin-right: -15px;
        }
        .product {
          width: 50%;
        }
      }
    }
    &.related-3-columns {
      .related {
        .products {
          margin-left: -15px;
          margin-right: -15px;
        }
        .product {
          width: 33.33333%;
        }
      }
    }
    &.related-4-columns {
      .related {
        .products {
          margin-left: -15px;
          margin-right: -15px;
        }
        .product {
          width: 25%;
        }
      }
    }
    &.related-5-columns {
      .related {
        .products {
          margin-left: -15px;
          margin-right: -15px;
        }
        .product {
          width: 20%;
        }
      }
    }
  }

  .related, .upsells {
    .hiding-nav-ui {
      .flickity-prev-next-button {
        display: none;
      }
    }
    .products {
      margin-left: -15px;
      margin-right: -15px;
      &:hover {
        .flickity-prev-next-button {
          opacity: .8;
        }
        .flickity-prev-next-button:disabled {
          opacity: .2;
        }
      }
      .product-description {
        margin-top: 5px;
      }
    }
    .flickity-prev-next-button {
      height: 100%;
      border-radius: 0;
      opacity: 0;
      transition: opacity .2s ease;
    }
  }
  .upsells {
    .product {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
    }
    @include media-breakpoint-up(md) {
      &.upsells-2-columns {
        .upsells {
          .product {
            width: 50%;
          }
        }
      }
      &.upsells-3-columns {
        .upsells {
          .product {
            width: 33.33333%;
          }
        }
      }
      &.upsells-4-columns {
        .upsells {
          .product {
            width: 25%;
          }
        }
      }
      &.upsells-5-columns {
        .upsells {
          .product {
            width: 20%;
          }
        }
      }
    }
  }
}