.nb-quantity {
  @include media-breakpoint-up(md) {
    float: left;
    margin-right: 15px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 15px
  }
  .qty {
    width: 44px;
    min-height: 50px;
    line-height: 37px;
    text-align: center;
    border-radius: 0;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  &.style-1 {
    position: relative;
    width: 74px;
    .qty-buttons {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      span {
        display: block;
        border: 1px solid #ccc;
        text-align: center;
        border-left: 0;
        height: 25px;
        background: #f2f2f2;
        &.quantity-minus {
          border-top: 0;
        }
      }
    }
  }
  &.style-2 {
    display: flex;
    > span {
      border: 1px solid #ccc;
      height: 50px;
      padding-top: 8px;
      background: #f2f2f2;
      &.quantity-plus {
        border-left: 0;
      }
      &.quantity-minus {
        border-right: 0;
      }
    }
  }
}