.nb-row {
  margin-right: -15px;
  margin-left: -15px;
}

.shop-main {
  padding-left: 15px;
  padding-right: 15px;
  .products {
    .product {
      @include make-col-ready();
      margin-bottom: 30px;
    }
  }
  .shop-banner {
    margin-bottom: 30px;
  }
  &.two-columns {
    .products {
      .product {
        @include make-col-md(6);
      }
    }
  }
  &.three-columns {
    .products {
      .product {
        @include make-col-md(4);
      }
    }
  }
  &.four-columns {
    .products {
      .product {
        @include make-col-md(3);
      }
    }
  }
  &.right-images {
    .single-product-wrap {
      .product-image {
        @include media-breakpoint-up(sm) {
          order: 2;
        }
      }
    }
  }
  &.wide {
    .single-product-wrap {
      .product-image {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
      }
      .entry-summary {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .pd-meta-left, .pd-meta-right {
        display: inline-block;
        width: 50%;
        .price {
          line-height: 1;
        }
      }
      .pd-meta-left {
        padding-right: 15px;
      }
      .pd-meta-right {
        padding-left: 15px;
        vertical-align: top;
      }
    }
  }
  &:not(.wide) {
    .single-product-wrap {
      .cart {
        border-bottom: 1px solid;
      }
    }
  }
  &.left-images {
    .entry-summary {
      padding-left: 30px
    }
  }
  &.right-images {
    .entry-summary {
      padding-right: 30px
    }
  }
}

.products {
  .product {
    .product-title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .product-action {
      position: absolute;
      bottom: 15px;
      right: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease;
      .button {
        display: inline-block;
        position: relative;
        width: 40px;
        border: 0;
        text-align: center;
        color: #fff;
        i {
          &:before {
            content: '\f290';
            font-family: fontello;
            font-style: normal;
          }
        }
        &.added {
          i:before {
            content: '\e810';
          }
        }
        &.loading {
          i {
            animation: spin 2s infinite linear;
            display: inline-block;
            &:before {
              content: '\e839';
            }
          }
        }
        .tooltip {
          position: absolute;
          white-space: nowrap;
          right: calc(100% + 20px);
          background: rgba(0, 0, 0, 0.7);
          padding-left: 10px;
          padding-right: 10px;
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease;
          &:before {
            content: "";
            position: absolute;
            border: 5px solid transparent;
            top: -webkit-calc(50% - 5px);
            border-left: 5px solid rgba(0,0,0,0.7);
            right: -10px;
          }
        }
        &:hover {
          .tooltip {
            right: calc(100% + 10px);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &:hover {
      .product-action {
        right: 15px;
        opacity: 1;
        visibility: visible;
      }
    }
    .price {
      .amount {
        font-size: 1.2em;
      }
      del .amount {
        font-size: 1em;
      }
    }
    .star-rating {
      width: 65px;
    }
  }
  &.grid-type {
    .product {
      .product-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .product-description {
      margin-top: 5px;
    }
  }
  &.list-type {
    .list-type-wrap {
      display: flex;
    }
    .product {
      .product-category-link {
        display: inline-block;
        background: #fff;
        padding: 5px 7px;
        margin-right: 5px;
      }
      .product-image {
        flex: 0 0 34%;
        float: left;
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 15px;
          border: 8px solid transparent;
          border-right: 8px solid;
          z-index: 10;
        }
      }
      .product-meta {
        flex: 0 0 66%;
        float: left;
        padding: 15px 15px 15px 30px;
      }
      .product-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .product-description {
        margin-bottom: 30px;
      }
      .button {
        > i {
          margin-right: 8px;
        }
      }
    }
  }
}

.product {
  .product-image {
    position: relative;
    img {
      width: 100%;
    }
  }
  .onsale {
    z-index: 9;
    &.sale-style-1 {
      position: absolute;
      border: 1px solid;
      border-radius: 50%;
      width: 48px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      top: 15px;
      right: 15px;
      text-transform: uppercase;
    }
    &.sale-style-2 {
      width: 92px;
      height: 92px;
      position: absolute;
      box-sizing: border-box;
      position: absolute;
      background: transparent;
      overflow: hidden;
      top: 0px;
      bottom: auto;
      left: auto;
      right: 0px;
      opacity: 1;
      .percent {
        width: 140px;
        height: 0;
        position: relative;
        box-sizing: border-box;
        position: absolute;
        top: 17px;
        right: -42px;
        border-bottom: 25px solid;
        border-left: 37px solid transparent;
        border-right: 37px solid transparent;
        transform: rotate(45deg);
        text-align: center;
        color: #fff;
      }
    }
  }
  .star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-family: "fontello";
    margin-bottom: 10px;
    &:before {
      content: '\e80a\e80a\e80a\e80a\e80a';
      float: left;
      top: 0;
      left: 0;
      position: absolute;
    }
    span {
      overflow: hidden;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 1.5em;
    }
    span:before {
      content: "\e809\e809\e809\e809\e809";
      top: 0;
      position: absolute;
      left: 0;
    }
  }
  .price {
    del {
      .amount {
        opacity: .5;
        margin-right: 10px;
      }
    }
  }
  .entry-summary {
    margin-top: 0;
    .price {
      margin-top: 0;
    }
  }
}

.shop-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  .woocommerce-result-count {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.added_to_cart.wc-forward {
  display: none;
}