.wc-tabs {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  > li {
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    a {
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    &.active {
      a {
        border-top: 3px solid;
      }
    }
    a:focus {
      outline: none;
    }
  }
}

.wc-tabs-wrapper {
  margin-bottom: 45px;
}

.shop-main {
  &.horizontal-tabs {
    .wc-tabs-wrapper {
      border-top: 1px solid;
    }
  }
  &.accordion-tabs {
    .accordion-title-wrap {
      border-top: 1px solid;
      font-size: 16px;
      padding: 10px 15px;
      position: relative;
      margin-bottom: 15px;
      &:focus {
        outline: 0
      }
      &:after {
        font-family: "fontello";
        position: absolute;
        right: 15px;
        font-size: 23px;
        top: 5px;
      }
      &:not(.ui-accordion-header-active):after {
        content: "\f107";
      }
      &.ui-accordion-header-active {
        &:after {
          content: "\f106";
        }
        a:focus, a:hover {
          outline: 0;
        }
      }
    }
    .accordion-content {
      #reviews {
        margin-top: 20px;
      }
    }
  }
  .woocommerce-Reviews {
    display: flex;
    flex-wrap: wrap;
    #review_form_wrapper {
      .stars {
        a {
          position: relative;
          height: 1em;
          width: 1em;
          text-indent: -999em;
          display: inline-block;
          text-decoration: none;

          &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: 'fontello';
            content: '\e80a';
            text-indent: 0;
          }

          &:hover {
            ~ a::before {
              content: '\e80a';
            }
          }
        }

        &:hover {
          a {
            &::before {
              content: '\e809';
            }
          }
        }

        &.selected {
          a.active {
            &::before {
              content: '\e809';
            }

            ~ a::before {
              content: '\e80a';
            }
          }

          a:not( .active ) {
            &::before {
              content: '\e809';
            }
          }
        }
      }
      .comment-reply-title {
        font-size: 18px;
      }
      .comment-respond {
        border: 1px solid;
        padding: 15px;
      }
      .comment-form-rating, .comment-form-comment {
        > label {
          color: #222 //TODO bring this to customize options ???
        }
      }
      .form-submit {
        input {
          color: #fff;
          border-radius: 0;
          border: 0;
          padding: 10px 25px;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
    .woocommerce-Reviews-title {
      font-size: 18px;
      margin-top: 0;
      line-height: 1;
      margin-bottom: 30px;
    }
    .comment {
      margin-bottom: 20px;
    }
    .commentlist {
      list-style-type: none;
      padding-left: 0;
      .comment_container {
        display: flex;
        align-items: flex-start;
      }
      .star-rating {
        width: 65px;
      }
      .comment-text {
        .meta {
          margin-top: 0;
          line-height: 1;
          margin-bottom: 10px;
        }
        .description {
          p {
            margin: 0;
          }
        }
      }
    }
    .avatar {
      float: left;
      margin-right: 15px;
    }
  }
  &.split-reviews-form {
    #comments {
      flex-basis: 60%;
      max-width: 60%;
      padding-right: 15px;
    }
    #review_form_wrapper {
      flex-basis: 40%;
      max-width: 40%;
      padding-left: 15px;
    }
  }
  &:not(.split-reviews-form) {
    #comments {
      flex-basis: 100%;
      max-width: 100%;
    }
    #review_form_wrapper {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  &.round-reviewer-avatar {
    .comment .avatar {
      border-radius: 50%;
    }
  }
}
