.widget {
	margin: 0 0 30px;
    padding: 15px;
	&:first-of-type {
		padding-top: 0;
	}
    .widget-title {
    	margin-top: 0;
	    border-bottom: 1px solid;
	    padding-bottom: 15px;
	    margin-bottom: 20px;
	    position: relative;
	    &:before {
	    	width: 60px;
		    height: 1px;
		    content: '';
		    position: absolute;
		    bottom: -1px;
	    }
    }

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		> li {
			&:not(:last-of-type) {
				border-bottom: 1px solid;
			}
			> a {
				display: inline-block;
			}
		}
		.children {
			padding-left: 15px;
		}
		li {
			margin-bottom: 10px;
			padding-top: 8px;
			padding-bottom: 8px
		}
	}
	tbody th, tbody td {
		border-bottom: 1px solid;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	thead, tbody {
		text-align: center;
	}
	&.widget_tag_cloud {
		&:before, &:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both
		}
	}
	.tagcloud a {
		float: left;
		font-size: 12px !important;
		margin: 0 8px 8px 0;
		padding: 5px 10px;
		border: 1px solid;
		border-radius: 2px;
		&:hover {
			color: #fff;
		}
	}
	&.widget_nav_menu {
		.menu-item-has-children {
			position: relative;
			cursor: pointer;
			&:after {
				font-family: 'fontello';
				content: '\f107';
				position: absolute;
				right: 0;
				top: 8px;
			}
			&.active:after {
				content: '\f106';
			}
		}
		.sub-menu {
			display: none;
			padding-left: 15px;
		}
	}

	a:focus {
		outline: none;
	}
	table {
		caption {
			margin-bottom: 10px;
		}
	}
}
