.nb-back-to-top-wrap {
  display: inline-block;
  position: fixed;
  right: 45px;
  bottom: 45px;
  transition: all .2s ease;
  a {
    display: inline-block;
    padding: 5px 9px 9px;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    &:focus {
      outline: 0;
    }
    &.light {
      background-color: #edf0f5;
      color: #323232;
    }
    &.circle {
      border-radius: 50%;
    }
    &.dark {
      background-color: #323232;
      color: #fff;
    }
  }
  &:hover {
    a {
      color: #fff
    }
  }
}