.comment-list {
  padding-left: 0;
  list-style-type: none;
  .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%
  }
  .comment-meta {
    margin-bottom: 15px;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  .comment {
    padding-top: 30px;
    border-top: 1px solid;
  }
  .reply, .edit-link {
    text-transform: uppercase;
  }
  .reply {
    margin-bottom: 30px;
  }
  > .comment:first-child {
    border-top: none;
  }
  ol {
    list-style-type: none;
    padding-left: 60px;
  }
}

.comments-area {
  padding: 45px 30px;
  .logged-in-as {
    text-transform: uppercase;
    font-size: .8em;
  }
}

.nb-comment-form {
  margin-top: 15px;
  margin-bottom: 15px;
  textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #ababab;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #ababab;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #ababab;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #ababab;
    }
    &:focus {
      outline: none
    }
  }
}