.site-footer {
  margin-top: 60px;
}

.footer-abs-section {
  .footer-abs-middle {
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  .footer-abs-left {
    width: 50%;
    flex: 0 0 50%;
  }
  .footer-abs-right {
    width: 50%;
    flex: 0 0 50%;
    text-align: right;
  }
  p {
    margin-bottom: 0;
  }
}