#primary, #secondary {
  @include make-col(12);
}

#primary {
  @include media-breakpoint-down(md) {
    margin-bottom: 90px
  }
  padding-left: 15px;
  padding-right: 15px;
}

.shop-main {
  @include media-breakpoint-down(md) {
    margin-bottom: 90px
  }
}