.nb-input-group {
  display: flex;
  .search-field {
    height: 40px;
    padding: 0 15px;
    flex-grow: 1;
    min-width: 100px;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    &:focus {
      outline: none;
    }
  }
  .search-button button {
    margin-left: -6px;
    width: 40px;
    border: 0;
    color: #fff;
    i {
      color: #fff !important;
    }
  }
}