.nb-social-icons {
  margin-bottom: 30px;
  > a {
    border: 1px solid;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    text-align: center;
    transition: all .2s ease;
  }
  &.style-1 {
      .facebook:hover {
        color: #3a589d;
        border-color: #3a589d
      }
      .twitter:hover {
        color: #2478ba;
        border-color: #2478ba
      }
      .pinterest:hover {
        color: #cb2320;
        border-color: #cb2320
      }
      .google-plus:hover {
        color: #dd4e31;
        border-color: #dd4e31
      }
      .linkedin:hover {
        color: #0072b7;
        border-color: #0072b7
      }
    }
  &.style-2 {
    a {
      color: #fff;
    }
    .facebook {
      background-color: #3a589d;
      border-color: #3a589d;
    }
    .twitter {
      background-color: #2478ba;
      border-color: #2478ba;
    }
    .pinterest {
      background-color: #cb2320;
      border-color: #cb2320;
    }
    .google-plus {
      background-color: #dd4e31;
      border-color: #dd4e31;
    }
    .linkedin {
      background-color: #0072b7;
      border-color: #0072b7;
    }
  }
  &.floating {
    position: fixed;
    left: 0;
    top: 50%;
    width: 40px;
    > a {
      margin-bottom: 5px;
    }
  }
}