.customize-control-checkbox-multiple {
  float: left;
  margin-top: 15px;
  input[type="checkbox"] {
    display: none;
    &.active + i {
      background: #e9e9e9;
      box-shadow: 0 0 0 1px #fff inset;
    }
  }
  > li {
    float: left;
    &:not(:last-child) {
      i {
        display: block;
        background: #fff;
        border: 1px solid #ccc;
        padding: 7px;
        border-radius: 3px;
        margin-right: 8px;
      }
      
    }
  }
  select {
    height: 34px;
    min-width: 128px;
    border-radius: 3px;
    border-color: #ccc;
    &[name="fonts-weight"] {
      option {
        display: none;
      }
    }
  }
}