.customize-control-radio-image .image.ui-buttonset {
	input[type=radio] {
		height: auto;
	}
	label {
		display: inline-block;
	    margin-right: 5px;
	    margin-bottom: 5px;
		border: 1px solid transparent;
	    &.ui-state-active {
			border: 1px solid $cc1;
	    	img {
				
			    opacity: 1;
	    	}
	    }
	    &.ui-state-hover {
	    	img {
	    		opacity: 1;
	    	}
	    }
	    img {
	    	vertical-align: middle;
			transition: all .5s ease;
    		opacity: 0.5;
    		height: auto;
	    }
	}
	.customize-control-radio-buttonset label {
		padding: 5px 10px;
	    background: #f7f7f7;
	    line-height: 35px;
	    &.ui-corner-left {
	    	border-radius: 3px 0 0 3px;
    		border-left: 0;
	    }
	    &.ui-corner-right {
	    	border-radius: 0 3px 3px 0;
	    }
	}
}

.customize-control-radio-image {
	label.ui-button {
		height: auto
	}
	.image-select-wrap {
		display: inline-block;
	}
}