.nb-slider {
  position: relative;
  float: left;
  margin-left: 15px;
  width: 88%;
  height: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 100em;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  .ui-slider-range {
    height: 5px;
    background: #2196F3;
    border-radius: 15px;
  }
  .ui-slider-handle {
    display: flex;
    justify-content: center;
    border: 0;
    background: $cc1;
    padding-top: 3px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    z-index: 2;
    width: 50px;
    height: 24px;
    margin-left: -25px;
    color: #fff;
    border-radius: 100em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }
  #tooltip {
    position: absolute;
  }
}