.customize-control-checkbox label{
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 28px;
}
 
.onoffswitch {
	position: relative;
	width: 40px;
	display: inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
	&-checkbox {
		display: none!important;
		
	}
	&-label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		height: 18px;
		padding: 0;
		line-height: 18px;
		border: 1px solid #f2f2f2;
		border-radius: 18px;
		background-color: #9E9E9E;
		transition: background-color 0.2s ease-in;
		&:before {
			content: "";
			display: block;
			width: 18px;
			margin: 0;
			background: #EBEBEB;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20px;
			border: 2px solid #9E9E9E;
			border-radius: 18px;
			transition: all 0.2s ease-in 0s
		}
	}
}
 
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: $cc1;
	&:before {
		border-color: $cc1;
		right: 0;
	}
}

.customize-control-switch {
	.customize-control-title {
		float: left;
	}
	.onoffswitch {
		float: right;
		margin-top: 2px;
	}
}

.control-switch-wrap:before,
.control-switch-wrap:after {
  content: "";
  display: table;
} 
.control-switch-wrap:after {
  clear: both;
}