.mobile-toggle-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 40px;
  font-size: 23px;
  color: #b7b7b7;
  background: #fff;
  border: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 transparent, 0 1px 5px rgba(0,0,0,0.25)
}

.main-mobile-navigation {
  @include media-breakpoint-up(sm) {
    display: none;
  }
  margin-top: 15px;
  margin-bottom: 15px;
  .icon-angle-down {
    float: right;
  }
  .nb-mobile-navbar {
    display: none;
    padding-left: 15px;
    padding-right: 15px
  }
  .menu-item {
    position: relative;
    a {
      display: block;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      padding-top: 15px;
      padding-bottom: 15px;
      text-transform: uppercase;
    }
  }
  .menu-item-has-children {
    > .sub-menu {
      padding-left: 15px;
      padding-right: 15px;
      > .sub-menu {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .sub-menu {
    display: none;
    min-width: 200px;
    left: 0;
    .sub-menu {
      top: 0;
      left: 100%;
    }
  }
}