.nb-navbar {
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  ul {
    list-style-type: none;
  }
  > .menu-item {
    position: relative;
    &:first-child {
      span {
        padding-left: 0;
      }
    }
    > a {
      padding-left: 12px;
      padding-right: 12px;
    }
    &:first-child a{
      padding-left: 0;
    }
    &:last-child a{
      padding-right: 0;
    }
  }
  .sub-menu {
    display: none;
    min-width: 220px;
    position: absolute;
    left: 0;    
    padding: 10px 20px 15px;
    background-color: #fff;
    z-index: 1000;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    .sub-menu {
      top: 0 !important;
      left: 98%;
    }
    > .menu-item {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    > .menu-item {
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .menu-item-has-children {
    > a span {
      position: relative;
      &:after {
        content: "\f107";
        font-family: "fontello";
        position: absolute;
        right: -12px;
      }
    }
  }
}

.nb-navbar, .nb-header-sub-menu {
  padding-left: 0;
  list-style-type: none;
  .sub-menu {
    > .menu-item:not(:last-child) {
      border-bottom: 1px solid;
    }
  }
}

.nb-header-sub-menu {
  margin: 0;
  > li {
    display: inline-block;
    position: relative;
    > a {
      padding-right: 12px;
    }
    &.menu-item-has-children {
      span {
        position: relative;
      }
      //a {
      //  padding-right: 25px;
      //}
    }
    &:not(:first-child), &:not(:last-child) {
      > a {
        padding-left: 12px;
      }
    }
  }
  .sub-menu {
    min-width: 220px;
    display: none;
    position: absolute;
    left: 0px;
    padding: 10px 20px 15px;
    background-color: #fff;
    z-index: 1000;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    .menu-item {
      a {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    .sub-menu {
      top: 0 !important;
      left: 98%;
    }
  }
  .menu-item-has-children > a span:after {
    content: "\f107";
    font-family: "fontello";
    position: absolute;
    right: -12px;
    top: -1px;
  }
}