.nb-page-title-wrap {
  margin-bottom: 60px;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.nb-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-post {
  .nb-page-title {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .entry-meta, .entry-title, .entry-cat {
      flex: 0 0 100%;
      max-width: 100%;
    }
    h1 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .entry-meta {
      font-size: .9em;
      text-transform: uppercase;
      .posted-on:not(:last-child):after {
        font-family: 'fontello';
        content: '\e80c';
        margin-left: 5px
      }
    }
  }
}