%border {
  padding: 5px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

%dropcap {
  margin-right: 10px;
  font-size: 36px;
}

#tinymce {

  // Drop Cap
  .dropcap:first-letter {
    @extend %dropcap;
  }
  .dropcap-borders:first-letter {
    @extend %border;
  }
  .dropcap-border-right:first-letter {
    @extend %border;
    border-color: transparent;
    border-right-color: #ccc;
    padding: 0 10px;
  }
  .dropcap-bg-dark:first-letter {
    @extend %border;
    background-color: black;
    color: white;
  }
  .dropcap-bg-light:first-letter {
    @extend %border;
    background-color: #ccc;
    color: black;
  }

  // Highlight
  .highlight {
    background-color: red;
    color: white;
    padding: 5px 10px;
  }

  // Headline
  %headline_line {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 150px;
    bottom: -10px;
    border-top: 1px solid #cccccc;
  }
  @mixin headline_draw {
    &:before {
      @extend %headline_line;
    }
  }
  .headline {
    display: block;
    position: relative;
    &.headline-left {
      text-align: left;
      &:before{
        right: auto;
        left: 0;
        margin: 0;
      }
      @include headline_draw();
    }
    &.headline-center {
      text-align: center;
      &:before{
        left: 50%;
        transform: translateX(-50%);
      }
      @include headline_draw();
    }
    &.headline-right {
      text-align: right;
      &:before{
        right: 0;
        left: auto;
        margin: 0;
      }
      @include headline_draw();
    }
  }
}