.blog {
  .classic .post {
    margin-bottom: 90px;
    .entry-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .entry-meta {
      text-transform: uppercase;
    }
    .entry-title {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .entry-text {
      margin-bottom: 30px;
    }
    .entry-footer {
      border-top: 1px solid;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      span:before {
        margin-right: 5px;
      }
      .tags-links, .comments-link {
        font-size: .9em;
        font-style: italic;
      }
    }
  }  
}