.blog {
  .post {
    .entry-content {
      overflow: auto;
    }
    .entry-image {
      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
    .entry-image {
      position: relative;
      margin-bottom: 15px;
      .image-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        span {
          @include centerer;
          color: #fff;
          text-transform: capitalize;
          font-size: 16px;
        }
      }
      .read-time {
        bottom: -30px;
        transition: all .3s;
        position: absolute;
        margin-left: 30px;
        margin-right: 30px;
        width: calc(100% - 60px);
        text-align: center;
        border-top: 1px solid;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
      }
      &:hover {
        .image-mask {
          opacity: 1;
          visibility: visible;
          .read-time {
            bottom: 0px;
          }
        }
      }
    }
    .entry-meta {
      font-size: .9em;
      .posted-on:not(:last-child) {
        &:after {
          font-family: 'fontello';
          content: '\e80c';
          margin-left: 4px;
        }
      }
      .read-time:not(:first-child) {
        &:after {
          font-family: 'fontello';
          content: '\e80c';
          margin-left: 4px;
        }
      }
    }
    .entry-cat {
      a {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  .no-sidebar {
    #primary {
      width: 100%;
    }
  }
  &.meta-align-center {
    .post {
      .entry-meta, .entry-title, .entry-cat, .read-more-link {
        text-align: center;
      }
    }
  }
  &.meta-align-right {
    .post {
      .entry-meta, .entry-title, .entry-cat, .read-more-link {
        text-align: right;
      }
    }
  }
  &.style-2 {
    .post .entry-content {
      padding: 20px;
    }
  }
}