.blog {
	.masonry {
		@include make-row();
		.post {			
			margin-bottom: 90px;
			.entry-title {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.entry-meta {
				font-size: .9em;
			}
		}
	}	
	&.style-2 {
		.post {
			margin-bottom: 60px;
			.entry-image {
				margin-bottom: 0;
			}
		}
	}
	&.masonry-2-columns {
		.post {
			@include make-col-ready();
			@include make-col(6);
		}		
	}
	&.masonry-3-columns {
		.post {
			@include make-col-ready();
			@include make-col(4);
		}
	}
}