.single-blog {
  margin-bottom: 60px;
  &.no-sidebar {
    #primary {
      width: 100%;
    }
  }
  .entry-image {
    margin-bottom: 30px;
  }
  .entry-content {
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .entry-meta {
    font-size: .9em;
    text-transform: uppercase;
    .posted-on:not(:last-child):after {
      font-family: 'fontello';
      content: '\e80c';
      margin-left: 5px;
    }
  }
  .entry-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .entry-cat {
    margin-bottom: 60px;
    a {
      display: inline-block;
      background: #fff;
      padding: 8px;
    }
  }
  .entry-text {
    margin-bottom: 30px;
  }
  .read-more-link {
    text-align: center;
    a {
      display: inline-block;
      border: 2px solid;
      padding: 5px 10px;
    }
  }
  .entry-footer {
    display: inline-block;
    min-width: 80%;
    border-bottom: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    span:before {
      margin-right: 5px;
    }
    .tags-links {
      font-style: italic;
    }
  }
  .entry-author {
    padding: 20px;
    display: flex;
    margin-bottom: 30px;
    .author-image {
      margin-right: 20px;
    }
    .author-name {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
  .single-blog-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding-top: 30px;
    .prev, .next {
      position: relative;
      > span {
        display: block;
      }
      &:hover {
        .meta-nav {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .prev {
      .meta-nav {
        left: -30px;
      }
      &:hover {
        .meta-nav {
          left: -20px;
        }
      }
    }
    .next {
      text-align: right;
      .meta-nav {
        right: -30px;
      }
      &:hover {
        .meta-nav {
          right: -20px;
        }
      }
    }
    .meta-nav {
      position: absolute;
      top: 3px;
      font-size: 12px;
      transition: all .2s ease;
      opacity: 0;      
      visibility: hidden;
    }
  }
  &.meta-align-center {
        .entry-meta, .entry-title, .entry-cat {
          text-align: center;
        }
      }
      &.meta-align-right {
        .entry-meta, .entry-title, .entry-cat {
          text-align: right;
        }
      }
}

.single-post {
  .nb-page-title {
    .entry-cat {
      a {
        display: inline-block;
        padding: 8px;
      }
    }
  }
}